### Section A: Data Structures & Control Structures

1.	Create a list of 5 integers. Perform and print the result of the following operations: append, extend, insert, remove, pop, clear, index, count, sort, and reverse.

In [1]:
lst = [10, 20, 30, 40, 50]
print("Original:", lst)

lst.append(60)
print("After append:", lst)

Original: [10, 20, 30, 40, 50]
After append: [10, 20, 30, 40, 50, 60]

In [2]:
lst.extend([70, 80])
print("After extend:", lst)

After extend: [10, 20, 30, 40, 50, 60, 70, 80]

In [3]:
lst.insert(0,0)
print("After insert:",lst)

After insert: [0, 10, 20, 30, 40, 50, 60, 70, 80]

In [4]:
lst.remove(80)
print("After removing  " ,lst)

After removing   [0, 10, 20, 30, 40, 50, 60, 70]

In [5]:
lst.pop()
print("After pop:",lst)

After pop: [0, 10, 20, 30, 40, 50, 60]

In [6]:
print("Index of 20:", lst.index(20))

Index of 20: 2

In [7]:
print("Count of 20:", lst.count(20))

Count of 20: 1

In [8]:

lst.sort()
print("After sort:", lst)

After sort: [0, 10, 20, 30, 40, 50, 60]

In [9]:
lst.reverse()
print("After reverse:", lst)

After reverse: [60, 50, 40, 30, 20, 10, 0]

In [10]:
lst.clear()
print("After clear:", lst)

After clear: []

In [11]:
# all in one code 
lst = [10, 20, 30, 40, 50]
print("Original:", lst)

lst.append(60)
print("After append:", lst)

lst.extend([70, 80])
print("After extend:", lst)

lst.insert(2, 25)
print("After insert:", lst)

lst.remove(40)
print("After remove:", lst)

print("Popped value:", lst.pop())
print("After pop:", lst)

print("Index of 25:", lst.index(25))

print("Count of 20:", lst.count(20))

lst.sort()
print("After sort:", lst)

lst.reverse()
print("After reverse:", lst)

lst.clear()
print("After clear:", lst)

Original: [10, 20, 30, 40, 50]
After append: [10, 20, 30, 40, 50, 60]
After extend: [10, 20, 30, 40, 50, 60, 70, 80]
After insert: [10, 20, 25, 30, 40, 50, 60, 70, 80]
After remove: [10, 20, 25, 30, 50, 60, 70, 80]
Popped value: 80
After pop: [10, 20, 25, 30, 50, 60, 70]
Index of 25: 2
Count of 20: 1
After sort: [10, 20, 25, 30, 50, 60, 70]
After reverse: [70, 60, 50, 30, 25, 20, 10]
After clear: []

2.	Create a tuple that stores 3 student names. Try changing the second name in the tuple. What happens? Explain why.

In [12]:
# students = ("Rakesh", "Teja", "Sai")
# print(students)

# students[1] = "Mahesh"
# TypeError: 'tuple' object does not support item assignment


# A tuple is immutable, meaning:

# You cannot change, add, or remove elements after creating it.

# Once created, the values are fixed permanently.

3.	Create a set of integers with some duplicate values. Print the set and explain the output.

In [13]:
nums = {10, 20, 30, 20, 10, 40}
print(nums)

{40, 10, 20, 30}

4.	Create a dictionary with the keys: 'name', 'age', and 'city'. Update the age and add a new key 'email'. Print the final dictionary.

In [14]:
d1={
    'name':'Rakesh',
    'age':21,
    'city':'Hyderabad'
}

In [15]:
d1

{'name': 'Rakesh', 'age': 21, 'city': 'Hyderabad'}

In [16]:
d1['age']=22

In [17]:
d1['email']='rockyrathod500@gmail.com'

In [18]:
d1

{'name': 'Rakesh',
 'age': 22,
 'city': 'Hyderabad',
 'email': 'rockyrathod500@gmail.com'}

5) Write a script that checks if a person is eligible to vote (age ≥ 18). Take age as a variable and print the appropriate message.

In [19]:
age=int(input("enter the age"))
if age >=18:
    print("elgible to vote as age is :    ",age)
else:
    print('cant vote person identifided as minor as age is     :',age)

enter the age 25

elgible to vote as age is :     25

6.	Given a 'marks' variable, print the grade:
- 90 and above: 'A'
- 75–89: 'B'
- 50–74: 'C'
- Below 50: 'Fail'

In [ ]:
marks=float(input("enter the marks "))
if (marks>90):
    print('A')
elif (marks <90 and marks>=75):
    print('B')
elif (marks > 75 and marks >=50):
    print('C')
else:
    print("fail")

7.	Given a number, check if it's positive, and if it is also even. If not positive, print if it's zero or negative.

In [ ]:
num = int(input("enter the number "))

if num > 0:
    print("its positive")
    if num % 2 == 0:
        print("positive even number")
    else:
        print("positive odd number")
elif num == 0:
    print("its Zero")
else:
    print("its negative")

### Section B: Numpy

8.	Create:
- A scalar using np.array(5)
- A 1D array with values 1 to 5
- A 2D array (2x3) with values from 10 to 60 in steps of 10

In [ ]:
import numpy as np
n=np.array(5)

n1=np.array([1,2,3,4,5])



n2 = np.arange(10, 70, 10).reshape(2, 3)
print(n2)
print(type(n2))
print(n2.ndim)

9.	Generate a 4x4 Numpy array of random integers between 0 and 100 using np.random.randint().

In [ ]:
arr=np.random.randint(0,101,size=(4,4))
print(arr)

10.	Create a 2D numpy array of shape (3x3). Convert it into a pandas DataFrame and add column names: 'A', 'B', 'C'.

In [ ]:
import numpy as np
import pandas as pd

arr = np.array([[1,2,3],
                [4,5,6],
                [7,8,9]])

df = pd.DataFrame(arr, columns=['A', 'B', 'C'])
print(df)

### Section C: Exploring Pandas

11.	Create a small DataFrame manually with 10 rows and columns: 'Name', 'Age', 'City', and 'Salary'. Then:
- Use .info(), .describe()
- Select 'Name' and 'City' columns
- Drop 'City' column
- Fill any missing values in 'Salary' column with the mean
- Remove any duplicate rows

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "Name": ["Rakesh","Teja","Sai","Kiran","Mahesh","Rakesh","Anil","Sunil","Ravi","Kiran"],
    "Age": [22,23,24,25,26,22,23,24,25,25],
    "City": ["Hyd","Blr","Hyd","Chennai","Hyd","Hyd","Blr","Hyd","Pune","Chennai"],
    "Salary": [30000,40000,np.nan,35000,45000,30000,40000,38000,np.nan,35000]
})

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df[['Name','City']]

In [ ]:
df.drop('City',axis=1)

In [ ]:
df['Salary'].isnull().sum()

In [ ]:
df['Salary']=df['Salary'].fillna(df['Salary'].mean())

In [ ]:
df

In [ ]:
df.duplicated().sum()

In [ ]:
df=df.drop_duplicates()

In [ ]:
df.duplicated().sum()

In [ ]:

# names = ["Rakesh","Teja","Sai","Kiran","Mahesh","Anil","Sunil","Ravi","Dinesh","Lokesh"]
# cities = ["Hyd","Blr","Chennai","Pune","Delhi"]

# df1 = pd.DataFrame({
#     "Name1": np.random.choice(names, 10),
#     "Age1": np.random.randint(20, 40, 10),
#     "City1": np.random.choice(cities, 10),
#     "Salary1": np.random.choice([30000,40000,35000,45000,np.nan], 10)
# })